<%- include("templates/header") %> 
    <h1>Hello, <%= name %>.</h1>
    <div class="row mb-3 text-center" style="max-width: 1320px; margin-left: auto; margin-right: auto;">
        <div class="col-md-4 themed-grid-col"><img src="Adria.jpg" alt="Adria" width=300px></div>
        <div class="col-md-4 themed-grid-col"><img src="KitKat.jpg" alt="Kitkat" width=300px></div>
        <div class="col-md-4 themed-grid-col"><img src="Roe.jpg" alt="Roe" width=300px></div>
      </div>
    <br>
    <form action='/logout' method='get'>
        <button class="btn btn-primary rounded-pill px-3">Sign out</button>
    </form>
<%- include("templates/footer") %> 